.square0{
    /*background-color: #5191D8;*/
    background-color: #0c3964b4;
    height: 100%;    
    /*border-radius: 5px;*/
}


.square1{
    background-color: white;
    height: 80%;
    /*border-radius: 5px;*/
}

.input-c1{
    border-radius: 10px;
    width: 50%;
    height: 15px;
    font-weight:bold ;
    font-size: 7.5px;
    padding: 0.1rem ;    
    border: 1px solid;
    border-color: black;
    outline: none;    
}

.text1{
    font-size: 10px;
}


/*@media screen and (max-width:700px){

    #imgppal {
        display: none;
    }

    .square1{
        height: 50%;
    }
    
}*/

@media screen and (max-width: 1024px) {
    .square1 {
      /* Estilos para cuando la pantalla sea menor a 700px */
      height: 30%; /* Por ejemplo, el elemento se encogerá al 80% de su tamaño original */
      /* Otros estilos adicionales si es necesario */
    }
  }
  