/* barra navegacion main page */
.navbar {
    padding: 2rem;
}
.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}
/* main section */
.icons-container i{
    font-size: 30px;
    margin-right: 12px;
}
.post-friends img {
    width: 45px;
    height: 45px;
}
.news img {
    width: 70%;
}
.news-rating i {
    font-size: 30px;
    margin-right: 12px;
}
.new-actions i {
    font-size: 20px;
    margin-right: 32px;
}
.group-link {
    text-decoration: none;
}
