/* barra navegacion main page */
.navbar {
    padding: 2rem;
}
.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}
/* user section */
.fixed-height {
    width: 18rem;
}
/* main section */
.icons-container i{
    font-size: 30px;
    margin-right: 12px;
}
.post-friends img {
    width: 45px;
    height: 45px;
}
.news img {
    width: 70%;
}
.news-rating i {
    font-size: 30px;
    margin-right: 12px;
}
.new-actions i {
    font-size: 20px;
    margin-right: 32px;
}
.group-link {
    text-decoration: none;
}
.news-rating a {
    transition: 0.2sg;
}
.news-rating a:hover {
    transform: scale(1.05);
}
/* user section  */
@media (min-width: 992px) {
    .fixed-height {
      height: 300px; 
    }
}
